@font-face {
  font-family: "blood-terror-font";
  src: url("bloody.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "blood-terror-font";
  color: red;
  font-size: 88px;
  text-transform: uppercase;
  text-align: center;
}


